.gridEditorContainer {
  height: 100px;
  width: 100%;
  padding: 8px;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spritePickerContainer {
  height: 64px;
  width: 256px;
  outline: 2px solid black;
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.spritePickerContainer::-webkit-scrollbar {
  display: none;
}

.spritePicker {
  height: 64px;
  image-rendering: pixelated;
  cursor: pointer;
}

.button {
  padding: 8px;
  border: 2px solid black;
  border-radius: 24px;
  font-weight: bold;
  cursor: pointer;
}

.button:active {
  background-color: black;
  color: white;
}

.input {
  width: 42px;
  padding: 8px;
  outline: none;
  border: 2px solid black;
  border-radius: 12px;
  text-align: center;
  font-weight: bold;
  cursor: text;
}

.gridSizeContainer {
  display: flex;
}
