.characterSheet {
  width: 100%;
  background-color: lightgray;
  padding: 16px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.characterSheet::-webkit-scrollbar {
  display: none;
}

.header {
  width: 100%;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.section {
  width: 100%;
  margin: 24px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
}

.slider {
  width: 100%;
}
