.characterCard {
  height: 200px;
  width: 260px;
  background-color: white;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 0 8px gray;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.2s;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.characterCard:hover {
  box-shadow: 0 0 16px gray;
  transform: scale(1.05);
  z-index: 1;
}

.basicInfoContainer {
  height: 24px;
  padding-bottom: 8px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.avatar {
  height: 100%;
}

.attributesContainer {
  height: fit-content;
  padding: 8px 0;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.attribute {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skillsContainer {
  width: 100%;
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.skillsContainerOverflow {
  padding-top: 8px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.skillsContainerOverflow::-webkit-scrollbar {
  display: none;
}

.emptySkillsContainer {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.skill {
  height: fit-content;
  background-color: lavender;
  padding: 4px;
  border-radius: 8px;
  font-size: 12px;
}
