.button {
  background-color: lightgreen;
  padding: 8px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.button:active {
  background-color: black;
  color: white;
}
