.gridContainer {
  width: 100%;
  background-color: lightgray;
  padding: 16px;
  flex: 1;
  display: flex;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.gridContainer::-webkit-scrollbar {
  display: none;
}

.grid {
  margin: auto;
  outline: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  image-rendering: pixelated;
}
