.attributesContainer {
  height: 120px;
  width: 120px;
  background-color: white;
  padding: 8px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header {
  font-weight: bold;
}

.pointsContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.points {
  font-size: 24px;
  font-weight: bold;
}
