.cardContainer {
  width: 100%;
  background-color: lavender;
  padding: 24px;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, 260px);
  grid-template-rows: repeat(auto-fill, 200px);
  justify-content: center;
  gap: 20px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cardContainer::-webkit-scrollbar {
  display: none;
}
