.textInput {
  background-color: lavender;
  padding: 8px;
  outline: none;
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: text;
  transition: border-bottom 0.2s linear;
}
