.gridContainer {
  width: 100%;
  background-color: lightgray;
  flex: 1;
  display: flex;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.gridContainer::-webkit-scrollbar {
  display: none;
}

.grid {
  margin: auto;
  image-rendering: pixelated;
  cursor: pointer;
}
