.pointAdjustmentButton {
  height: 24px;
  width: 24px;
  box-shadow: 0 0 8px 0 gray;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.1s;
}

.pointAdjustmentButton:active {
  box-shadow: 0 0 4px 0 black;
}
