.navigationBarContainer {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 2s;
}

.navigationBar {
  height: 100px;
  width: 100%;
  background-color: black;
  display: flex;
  z-index: 3;
}

.toggleButton {
  height: 40px;
  width: 60px;
  background-color: black;
  opacity: 0;
  border-radius: 8px;
  position: absolute;
  bottom: -20px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
  color: white;
  z-index: 2;
  transition: all 0.5s;
}

.toggleButton:hover {
  opacity: 100;
}
